.background {
  margin-top: 62px;
  margin-left: 100px;
}
.backgroundPic {
  width: 1313px;
  height: 534px;
}
.backgroundPic2 {
  width: 1313px;
  height: 434px;
  margin-top: -350px;
}
.btn {
  cursor: pointer;
}
.ProfilePicture {
  position: absolute;
  margin-top: 0px;
  margin-left: 530px;
  width: 238px;
  height: 238px;
  margin-top: 31px;
}
.icon {
  position: absolute;
  margin-top: 188px;
  margin-left: 100px;
}
.iconsDiv {
  display: flex;
  margin-top: -290px;
  margin-left: 1150px;
  gap: 30px;
  position: absolute;
  cursor: pointer;
}
.flex {
  display: flex;
  flex-direction: column;
}
.info {
  display: flex;
  margin-top: -350px;
  margin-left: 225px;
  gap: 70px;
  align-items: center;
}
.infoFlex {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.editDiv {
  color: #1380bb;
  cursor: pointer;
  margin-left: 110px;
}
.contact {
  color: #1380bb;
  cursor: pointer;
  margin-top: -14px;
}
.infoButtom {
  gap: 25px;
  display: flex;
  margin-top: 16px;
  margin-left: 470px;
}
.infoButtom button {
  width: 131px;
  height: 30px;
  border-radius: 40px;
  border: 0.92px solid #1380bb;
  color: #1380bb;
  background-color: white;
}
.MainInfo {
  width: 907px;
  height: 318px;
  border-radius: 40px;
  border: 0.92px solid #cccccc;
  margin-left: 100px;
  padding-left: 40px;
}
.showMore {
  cursor: pointer;
}
.edit {
  width: 14px;
  height: 15px;
  margin-right: 40px;
  cursor: pointer;
}
.MainInfoFlex {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.btn {
  background-color: white;
  border: 0;
}
.editBoxFlex {
  display: flex;
}
.editBox {
  width: 424px;
  border-radius: 40px;
  border: 0.92px solid #cccccc;
  margin-top: 20px;
  padding-left: 40px;
}
.experienceInfo {
  font-size: 13px;
}
.editFLEX {
  display: flex;
}
.pictures {
  display: flex;
  flex-direction: column;
  margin-top: 20px;
}
.resources {
  display: flex;
  margin-left: 100px;
  gap: 20px;
}
.editBoxP {
  margin-top: -16px;
}
.headerFlex {
  display: flex;
  align-items: baseline;
  gap: 20px;
}
.edit-info {
  display: flex;
  flex-direction: column;
}
.section {
  display: flex;
}
.asideBox {
  border-radius: 40px;
  border: 0.92px solid #cccccc;
  padding-left: 40px;
  width: 300px;
  margin-left: 20px;
}
.headingFlex {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 10px;
}
.userCardButtom {
  background: white;
  border-radius: 11px;
  width: 100px;
  height: 25px;
  border-color: #343333;
  color: #343333;
}
.usercard-div {
  display: flex;
  align-items: center;
  font-size: 12px;
  margin-top: -20px;
}
.userImg {
  margin-top: -30px;
  margin-right: 10px;
}
